html, body {
  box-sizing: 'border-box';
  margin: 0;
  padding: 0;
}
.restaurant-container{
   background: #e7ded3;
   width: 500px;
   margin-left: 300px;
}

.restaurant-container img{
    height: 200px;
    width: 300px;
    border-radius: 2rem;
}

.type{
    text-align: center;
}
.location{
    text-align: center;
}
.title{
    text-align: center;
}
.image{
    text-align:center;
}

.contact{
    text-align: center;
}

